// section1
@keyframes move {
0% {
  -webkit-transform:rotate(0deg);
  transform:rotate(0deg);
}
33% {
  -webkit-transform:rotate(-5deg);
  transform:rotate(-5deg);
}
66% {
  -webkit-transform:rotate(5deg);
  transform:rotate(0deg);
}
100% {
  -webkit-transform:rotate(0deg);
  transform:rotate(5deg);
}
}
.section1
  background-image: url("../images/index-bg-02.png")
  background-size: cover
  .main
    width: 1024px
    //height: 500px
    text-align: center
    margin: 0 auto
    height: 100%
    color: #fff
    .intro
      width: 80%
      height: 395px
      margin: 0 auto
      position: relative
      top: -500px
      opacity: 0
      z-index: 1
      img
        width: 100%
      .text
        position: absolute
        top: 20px
        width: 100%
        h3
          font-size: 22px
          line-height: 35px
        p
          font-size: 14px
          line-height: 30px
          width: 70%
          margin: 10px auto

    .qrcode
      position: relative
      opacity: 0
      bottom: -300px
      z-index: 2
      -webkit-animation-name: move
      -webkit-animation-duration: 2s
      -webkit-animation-iteration-count: infinite
      transition: all 1s
// section2
.section2
  background-image: url("http://www.rybbaby.com/Public/static/themes/image/bg29.jpg")
  background-size: cover
  .main
    width: 1024px
    height: 400px
    margin: 0px auto
    text-align: center
    .content
      width: 70%
      float: left
      margin: 50px auto
      h3
        font-size: 24px
        line-height: 30px
        margin-bottom: 20px
      p
        font-size: 18px
        width: 70%
        margin: 10px auto
        line-height: 30px
        color: rgb(234, 177, 69)
        position: relative
        top: -200px
        opacity: 0
      ul
        width: 500px
        margin: 50px auto
        position: relative
        left: -500px
        opacity: 0
        li
          text-align: left
          line-height: 35px
          font-size: 16px
          .point
            display: inline-block
            width: 10px
            height: 10px
            background-color: rgb(234, 177, 69)
            border-radius: 50%
            margin-right: 10px
    .fonder
      width: 30%
      float: left
      position: relative
      right: -500px
      opacity: 0
      img
        width: 100%
        height: 100%
// section3
.section3
  .main
    width: 1024px
    margin: 0 auto
    text-align: center
    img
      width: 0px
      height: 620px
      opacity: 0
// section5
.section4
  background-image: url("../images/index-bg-03.png")
  background-size: cover
  .main
    width: 1200px
    margin: 0 auto
    h1
      font-size: 24px
      text-align: center
      margin: 30px
      color: rgba(255,128,0,1)
    h3
      font-size: 20px
      text-align: center
      margin: 30px
      color: #707070
    .boarding-class
      left: -500px
    .earlyedu
      bottom: -500px
    .multi-dimention
      right: -500px
    .boarding-class,.earlyedu,.multi-dimention
      width: 300px
      height: 480px
      background-color: rgba(234, 177, 69,0.5)
      float: left
      margin-right: 50px
      margin-left: 50px
      position: relative
      opacity: 0
      cursor: pointer
      transition: all 0.5s
      &:hover
        box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5)
      .image
        width: 100%
        height: 400px
        img
          width: 100%
          height: 100%
      .text
        h3
          font-size: 20px
          margin: 15px
        p
          font-size: 16px
          color: #707070
          text-align: center
// section5
.section5
  padding-top: 20px
  .main
    width: 100%
    height: 650px
    margin: 0 auto
    text-align: center
    background-image: url(../images/future-bg.png)
    .content
      width: 700px
      margin: 0 auto
      position: relative
      img
        width: 1%
        height: 100%
      .vision
        width: 130px
        height: 130px
        position: absolute
        border-radius: 50%
        opacity: 0
        //background-color: #000000
        top: 90px
        left: 220px
        h3
          font-size: 20px
        p
          line-height: 30px
          font-size: 14px
          margin-top: 20px
      .mission
        width: 130px
        height: 130px
        position: absolute
        opacity: 0
        border-radius: 50%
        top: 85px
        right: 105px
        h3
          font-size: 20px
          margin-top: 20px
        p
          line-height: 30px
          font-size: 14px
          margin-top: 20px
      .value
        width: 130px
        height: 130px
        position: absolute
        border-radius: 50%
        opacity: 0
        bottom: 125px
        left: 183px
        h3
          font-size: 20px
          margin-top: 20px
        p
          line-height: 30px
          font-size: 14px
          margin-top: 20px
      .edu-idea
        width: 130px
        height: 130px
        position: absolute
        border-radius: 50%
        opacity: 0
        bottom: 163px
        right: 50px
        h3
          font-size: 20px
          margin-top: 20px
        p
          line-height: 30px
          font-size: 14px
          margin-top: 20px
      .manage-idea
        width: 120px
        height: 120px
        position: absolute
        opacity: 0
        border-radius: 50%
        bottom: 330px
        right: 250px
        h3
          font-size: 20px
          margin-top: 15px
        p
          line-height: 30px
          font-size: 14px
          margin-top: 20px
// section6
@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}
.section6
  width: 100%
  padding-top: 0px !important
  .main
    text-align: center
    //height: 400px
    .join-btn
      width: 170px
      height: 50px
      //margin: 60px auto
      margin-top: 70px
      margin-bottom: 40px
      border-style: solid
      border-width: 0
      cursor: pointer
      font-family: inherit
      font-weight: bold
      line-height: 50px
      position: relative
      text-decoration: none
      text-align: center
      display: inline-block
      font-size: 18px
      background-color: #829606
      border-color: #829606
      color: white
      border-radius: 4px
      -webkit-animation-name: greenPulse
      -webkit-animation-duration: 2s
      -webkit-animation-iteration-count: infinite
    img
      width: 600px
//section-footer
.section-footer
  padding-top: 0px !important


