.section
  width: 100%
  margin: 0 auto

@-webkit-keyframes greenPulse {
  from {
    background-color: rgba(255, 128, 0, 0.5);
    -webkit-box-shadow: 0 0 9px #333;
  }
  50% {
    background-color: rgba(255, 128, 0, 0.7);
    -webkit-box-shadow: 0 0 18px #91bd09;
  }
  to {
    background-color: rgba(255, 128, 0, 1);
    -webkit-box-shadow: 0 0 9px #333;
  }
}

//section1
.section1
  .main
    width: 100%
    text-align: center
    position: relative
    .bg
      width: 1100px
      height: 600px
    .text
      position: absolute
      left: -300px
      bottom: 160px
      width: 540px
      opacity: 0
      height: 160px

//section2
.section2
  background-image: url("../images/boarding-class-bg-03.jpg")
  background-size: 100%
  background-repeat: no-repeat
  .main
    width: 1024px
    height: 600px
    margin: 0 auto
    position: relative
    img
      position: absolute
      top: 0px
    h1
      text-align: center
      margin-top: 50px
      margin-bottom: 100px
    .advantage1,.advantage2,.advantage3,.advantage4,.advantage5,.advantage6
      position: absolute
      background-color: rgba(25, 197, 207,0.8)
      //background-color: rgba(183, 167, 152, 0.5)
      border-radius: 50%
      opacity: 0
      transition: all 1s
      cursor: pointer
      &:hover
        box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.4)
        font-size: 15px
      div
        width: 80%
        height: 70%
        text-align: center
        margin: 40px auto
        span
          display: block
          line-height: 25px
          font-size: 14px
          margin: 15px 0
    .advantage1
      width: 200px
      height: 200px
      top: 780px
      left: -70px
      background-color: rgba(25, 197, 207,0.4)
    .advantage2
      width: 230px
      height: 230px
      top: 710px
      left: 100px
    .advantage3
      width: 220px
      height: 220px
      top: 700px
      left: 280px
      background-color: rgba(25, 197, 207,0.4)
    .advantage4
      width: 240px
      height: 240px
      top: 705px
      left: 460px
      background-color: rgba(25, 197, 207,0.6)
      span
        margin: 20px 0
    .advantage5
      width: 200px
      height: 200px
      top: 792px
      right: 160px
      background-color: rgba(25, 197, 207,0.4)
    .advantage6
      width: 230px
      height: 230px
      top: 770px
      right: -50px
      background-color: rgba(25, 197, 207,0.8)

    .item-list
      width: 1024px
      height: 40px
      opacity: 0
      paddding: 20px 15px
      .actived .dot
        width: 5px
        height: 40px
        background-color: #829606
        margin: 0 5px 0 0
        border-radius: 0
      .actived .text
        color: #829606
      li
        width: 110px
        height: 40px
        list-style: none
        float: left
        margin: 0 15px
        background-color: rgba(224, 236, 253, 0.6)
        cursor: pointer
        .dot
          display: inline-block
          width: 13px
          height: 13px
          border-radius: 50%
          margin: 14px 5px 18px 10px
          background-color: rgba(210, 173, 173, 1)
          transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1)
        .text
          display: inline-block
          width: 67px
          height: 20px
          margin: 12px auto
          font-size: 16px
          font-weight: bold
          vertical-align: top
          color: rgba(210, 173, 173, 1)
          transition: all 0.5s
          text-align: center
    .item-content
      width: 400px
      height: 300px
      padding: 50px 0 0 30px
      margin: 0px auto
      position: relative
      opacity: 0
      bottom: -300px
      transition: all 2s
      span
        display: block
        text-align: center
        height: 50px
        margin: 30px 30px
        line-height: 50px
        font-size: 16px
        background-color: rgba(231, 179, 37, 1)
        font-weight: bold
        transition: all 2s

//section3
.section3
  background-image: url("../images/boarding-class-bg-04.jpg")
  background-size: cover
  .main
    width: 1000px
    height: 600px
    margin: 0px auto
    text-align: center
    position: relative
    h1
      text-align: center
      height: 40px
      line-height: 40px
      margin-bottom: 10px
      margin-top: 20px
    img
      width: 500px
      height: 0px
      opacity: 0
      position: absolute
      bottom: 0
      right: 30%
      margin: 0 auto
      text-align: center
    p
      position: absolute
      font-size: 22px
      font-weight: bold
      opacity: 0
    .text-1
      right: 550px
      top: 170px
    .text-2
      left: 440px
      top: 233px
    .text-3
      right: 550px
      top: 343px
    .text-4
      left: 460px
      top: 450px
    .text-5
      right: 560px
      top: 540px

//.content
    //  float: left
    //  width: 400px
    //  height: auto
    //  padding: 30px
    //  texta
    //  h1
    //    font-size: 18px
    //    margin-top: 80px
    //  ul
    //    width: 40%
    //    margin-top: 20%
    //    margin: 22px auto
    //    li
    //      list-style: none
    //      font-size: 20px
    //      line-height: 35px
    //      height: 35px
    //      text-align: center

//section4
.section4
  .main
    width: 100%
    height: 100%
    margin: 0px auto
    position: relative
    .img-bg
      width: 100%
      height: 100%
    .img-text
      width: 532px
      height: 203px
      position: absolute
      top: 100px
      left: -440px
      popacity: 0
    .img-girl
      width: 520px
      height: 493px
      position: absolute
      top: -500px
      right: 10px
      opacity: 0

//section5
.section5
  .main
    width: 90%
    margin: 0 auto
    position: relative
    .img-bg
      width: 100%
    .img-text
      width: 1px
      height: 1px
      position: absolute
      top: 80px
      left: 100px
      opacity: 0
    .img-boy
      width: 274px
      height: 500px
      position: absolute
      bottom: 0
      right: -420px

//.img-boy
//  width: 314px
//  height： 583px
//  position: absolute
//  bottom: 0
//  right: 100px
.section-footer
  padding-top: 0px !important